/*全局样式*/
body, div, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, img, ol, ul, li, table, th, td, p, span, a {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$taobao-color: #ff0036;
* {
  box-sizing: border-box;
}

html, body {
  font-size: 100px;
  height: 100%;
}

img, input {
  border: none;
  vertical-align: middle;
}

body {
  font-family: Tahoma, Arial, Helvetica, "宋体";
  font-size: 12px;
  text-align: center;
  background: #f5f5f5;
  color: #000;
}

html {
  overflow-y: scroll;
}

ul, ol {
  list-style-type: none;
}

th, td, input {
  font-size: 12px;
}

h3 {
  font-size: 14px;
}

button {
  border: none;
  cursor: pointer;
  font-size: 12px;
  background-color: transparent;
}

select {
  border-width: 1px;
  _zoom: 1;
  border-style: solid;
  padding-top: 2px;
  font-size: 12px;
}

.clear {
  clear: both;
  font-size: 1px;
  height: 0;
  visibility: hidden;
  line-height: 0;
}


.clearfix {
  zoom: 1;
  &:after{
    content: "";
    display: block;
    clear: both;

  }
}

i {
  font-style: normal;
}

a{
  &:hover{
    text-decoration: none;
    color: $taobao-color;
  }
  &:active{
    text-decoration: underline;

  }
  &:link,&:visited{
    text-decoration: none;
    color: #333;

  }
}
.l {
  float: left;
}

.r {
  float: right;
}